@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


section {
    padding: 50px 0;
}

.bg-gray {
    background: $bgGray;
}

bg-transparent {
    background: transparent !important;
}

.css-transitions-only-after-page-load * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.preload-transitions * {
    // Dry this up a bit with SCSS variable
    $null-transition: none !important;

    -webkit-transition: $null-transition;
    -moz-transition: $null-transition;
    -ms-transition: $null-transition;
    -o-transition: $null-transition;
    transition: $null-transition;
}

.dark-btn {
    border: 1px solid $bgBlack;
    color: $white;
    background: $bgBlack;
    padding: .5rem 1rem;
    transition: .3s ease-in-out;
    cursor: pointer;

    &:hover {
        border: 1px solid $bgBlack;
        color: #1b1b1b;
        background: $white;
    }
}

.light-btn {
    border: 1px solid $white;
    color: $white !important;
    background: transparent;
    padding: .5rem 1rem;
    transition: .3s ease-in-out;
    cursor: pointer;

    &:hover {
        border: 1px solid $white;
        color: $darkText !important;
        background: $white;
    }

    &.active {
        color: $darkText !important;
        background: $white;
    }
}

.bold {
    font-weight: 600;
}

.section-heading {
    text-align: center;
    margin-bottom: 3rem;

    h1 {
        font-size: 42px;
        font-weight: 400;
    }

    p {
        margin-top: 1.5rem;
        font-size: 18px;
        line-height: 1.7;
        letter-spacing: .5px;
    }
}

.hero-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    width: 100%;

    h1 {
        color: $white;
        z-index: 100;
        font-size: 64px;
        font-weight: 400;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        background-color: $darkText;
        background-image: linear-gradient(147deg, $darkText 0%, #04619f 74%);
        opacity: 0.6;
    }
}

.about-hero {
    background: url('https://images.pexels.com/photos/461064/pexels-photo-461064.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center/cover;
    position: relative;
}

.services-hero {
    background: url('https://images.pexels.com/photos/196644/pexels-photo-196644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center/cover;
    position: relative;
}

.work-hero {
    background: url('https://images.pexels.com/photos/285814/pexels-photo-285814.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center/cover;
    position: relative;
}

.contact-hero {
    background: url('https://images.pexels.com/photos/3184306/pexels-photo-3184306.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center/cover;
    position: relative;
}

.request-hero {
    background: url('https://images.pexels.com/photos/3184465/pexels-photo-3184465.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center/cover;
    position: relative;
}



// NAV ACTIVE
.navbar.scrolled {
    background: $white !important;
    transition: background 0.3s ease-in-out;
    z-index: 1000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navbar.scrolled .logo {
    transition: color 0.3s ease-in-out;
    color: $darkText !important;
}

.navbar.scrolled .nav-link {
    transition: color 0.3s ease-in-out;
    color: $darkText !important;
}

.navbar.scrolled .nav-link:hover {
    color: $darkBlue !important;
}

.navbar.scrolled .light-btn {
    border: 1px solid $darkText;
    color: $darkText !important;
    background: transparent;
    padding: .5rem 1rem;
    transition: .3s ease-in-out;
    cursor: pointer;

    &:hover {
        border: 1px solid $bgBlack;
        color: $white !important;
        background: $bgBlack;
    }
}

// .navbar.scrolled {
//     background: $darkText !important;
// }

// NAVBAR
.navbar {
    transition: background .4s ease-in-out;

    .container {
        max-width: 1300px;
    }

    .navbar-brand {
        color: $white !important;
        font-size: 1.6rem;
        padding: 1rem 0;
        display: block;
        transition: color .3s ease-in-out;

        &:hover {
            color: $darkBlue !important;
        }
    }

    .nav-item {
        .nav-link {
            padding: 1.6rem 1rem;
            font-size: 1.1rem !important;
            position: relative;
            font-weight: 300 !important;
            color: $white;
            transition: 0.3s ease-in-out;

            &:hover {
                color: black;
            }
        }
    }

    .light-btn {
        display: block !important;
    }
}

#request-quote-container {
    background: $bgGray;
    padding: 2.5rem;
    width: 100%;
}

// HERO
#hero {
    background: url('https://tribulant.com/blog/wp-content/uploads/2020/12/web-design-AdobeStock_260516386.jpeg') no-repeat center/cover;
    object-fit: contain;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // background-image: linear-gradient(to bottom right,$blue, $blue2);
        background-color: $darkText;
        background-image: linear-gradient(147deg, $darkText 0%, #04619f 74%);
        opacity: .6;
    }

    .container {
        z-index: 100;

        .hero-content {
            h1 {
                color: $white;
                font-size: 56px;
                text-align: center;
                //    font-weight: 300;
            }
        }
    }
}

// SERVICES
#our-services {
    .section-heading {
        h2 {
            font-size: 48px;
            font-weight: 400;
        }
    }

    .service {
        text-align: center;
        padding: 1rem;

        i {
            font-size: 1.7rem;
            margin-bottom: .7rem;
            border: 3px solid $darkText;
            padding: .5rem;
        }

        h3 {
            margin-bottom: .7rem;
            font-size: 24px;
            font-weight: 300;
        }

        p {
            font-weight: 300;
            line-height: 1.7;
            letter-spacing: .5px;
        }
    }
}

// statistics
#statistics {
    background: $bgGray;

    .card {
        text-align: center;
        background: $white;
        padding: 2.5rem 5rem;
        width: 100%;

        .card-img {
            i {
                font-size: 48px;
                margin-bottom: 1rem;
            }
        }

        .card-body {
            padding: 0;

            h4 {
                font-size: 32px;
                margin-bottom: .5rem;
            }

            p {
                font-size: 14px;
            }
        }
    }
}

// expertise-in-development
#expertise-in-development {
    background: $bgGray;

    .container {
        max-width: 1400px;
    }

    .service-col {
        background: $white;
        padding: 1rem 1.2rem;
        text-align: center;

        .service-img {
            img {
                margin: 15% auto;
                width: 50px;
                height: 50px;
            }
        }

        p {
            margin-top: .7rem;
            font-weight: 300;
            font-size: 1.1rem;
            line-height: 1.7;
            letter-spacing: .5px;
        }
    }
}

// TESTIMONALS
#testimonals {
    .fa-arrow-right {
        position: absolute;
        top: 45%;
        right: 0;
    }

    .fa-arrow-left {
        position: absolute;
        top: 45%;
        left: 0;
    }

    h1 {
        font-size: 48px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 1rem;
    }

    .testimonal {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h3 {
            margin-bottom: 1rem;
            font-size: 24px;
        }

        span {
            margin-bottom: 1rem;
            color: $darkBlue;
            font-size: 18px;
        }

        img {
            width: 150px;
            border-radius: 50%;
        }

        p {
            font-size: 18px;
            line-height: 1.7;
            letter-spacing: .5px;
            margin-bottom: 1rem;
            text-align: center;
        }
    }
}

// FOOTER
#footer {
    background: $bgBlack;
    padding-bottom: 1rem;

    .container {
        max-width: 1300px;

        .logo {
            color: $white;
            transition: 0.3s ease-in-out;
            font-size: 36px;

            &:hover {
                color: $darkBlue;
                text-decoration: none;
            }
        }

        h3 {
            margin-bottom: .3rem;

            a {
                transition: 0.3s ease-in-out;
                color: $white;
                font-size: 24px;
                font-weight: 700;

                &:hover {
                    color: $darkBlue;
                    text-decoration: none;
                }
            }
        }

        ul {
            margin-bottom: 1rem;
            padding-left: 0;

            li {
                padding: 2px 0;

                a {
                    color: $white;
                    transition: .3s ease-in-out;

                    &:hover {
                        color: $darkBlue;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .social-media {
        margin-top: 1.5rem;

        a {
            color: $white;
            transition: .3s ease-in-out;

            // color: $darkBlue;
            &:hover {
                color: $darkBlue;
            }

            i {
                font-size: 1.2rem;
            }
        }
    }


}

.bottom-footer {
    p {
        text-align: center;
        margin-top: 1rem;
        color: $white;
        padding: 1rem 0;
    }
}



// ABOUT US
#about-us {
    .container {
        max-width: 1300px;
    }


    h1 {
        font-size: 48px;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    p {
        font-size: 18px;
        line-height: 1.7;
        letter-spacing: .5px;
        margin-bottom: 1rem;
    }

    img {
        width: 100%;
    }
}


#meet-team {
    background: $bgGray;


    h1 {
        text-align: center;
        font-size: 36px;
        margin-bottom: 2rem;
        font-weight: 400;
    }

    .team-container {


        .team {
            background: $white;
            overflow: hidden;
            display: inline-block;
            gap: 1rem;

            &:hover img {
                transform: scale(1.1);
            }

            img {
                height: 400px;
                object-fit: cover;
                position: relative;
                transition: .3s ease-in-out;

            }

            .team-descrption {
                text-align: center;
                margin-top: 1.5rem;

                h3 {
                    margin-bottom: .5rem;
                    font-weight: 700;
                    font-size: 24px;
                }

                p {
                    margin-bottom: 1rem;
                    color: $darkBlue;
                    font-weight: 400;
                }

                .social-media {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    grid-gap: 2rem;
                    width: 100%;
                    margin-bottom: 2rem;
                    // flex-wrap: wrap;

                    a {
                        color: $darkText;
                        transition: 0.4s ease-in-out;
                        font-size: 20px;

                        &:hover {
                            color: $darkBlue;
                        }
                    }
                }
            }
        }
    }
}

// SERVICES
#services {
    padding-bottom: 0;

    .columns {
        gap: 5rem;
        padding: 5rem 0;

        .service {
            text-align: left;
            width: 650px;
            padding: 0 1.2rem;

            h2 {
                font-size: 36px;
                margin-bottom: 1rem;
            }

            p {
                font-size: 18px;
                line-height: 1.7;
                letter-spacing: .5px;
            }
        }

        .service-img {
            img {
                width: 650px;
            }
        }
    }
}

// PORTFOLIO
#our-work {
    .container {
        max-width: 1500px;
    }

    background: $bgGray;

    .work-tabs {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;

        li {
            font-weight: 300;
            font-size: 18px;
            letter-spacing: 1.1px;
            line-height: 1.7;
            cursor: pointer;
            padding: 5px 2rem;

            &.active {
                background: $bgBlack;
                color: $white;
            }
        }
    }

    .portfolio {
        display: none;

        &.active {
            display: block !important;
        }

        .works {
            margin-bottom: 1rem;

            .work {
                width: 100%;
                position: relative;
                cursor: pointer;

                img {
                    height: 350px;
                    width: 100%;
                }

                &::after {
                    content: '\A';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    opacity: 0;
                    transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    background: rgba(0, 0, 0, 0.6);
                }

                &:hover::after {
                    opacity: 1;
                }
            }
        }
    }
}


// CONTACT
#contact {
    .contact-container {
        h1 {
            font-size: 48px;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 1rem;
            line-height: 1.5;
            letter-spacing: .1px;
        }

        .info {

            i {
                font-size: 32px;
            }

            h3 {
                font-weight: 700;
                font-size: 1.17rem;
            }
        }
    }

    .contact-form {
        width: 100%;

        input {
            margin-bottom: 2rem;
        }

        textarea {
            height: 200px;
            margin-bottom: 2rem;
        }
    }
}

// MODALS
#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    padding: 0;
    transition: 0.4s;
    opacity: 0;
    z-index: -1;

    &.active {
        opacity: 1;
        z-index: 10000;
    }

    .modal-container {
        background: rgba(0, 0, 0, 0.8);
        height: 100vh;
        padding: 1rem;
        width: 100%;
        overflow: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        .close-btn {
            position: absolute;
            right: 15px;
            top: 0px;
            font-size: 48px;
            color: $white;
            transition: 0.4s ease-in-out;
            cursor: pointer;

            &:hover {
                color: #ced4da;
            }
        }

        .close-btn {
            position: absolute;
            right: 20px;
            top: 15px;
            font-size: 36px;
            color: $white;
            transition: 0.3s ease-in-out;

            &:hover {
                color: $darkBlue;
            }
        }


        img {
            width: 900px;
            object-fit: contain;
            margin: 0 auto;
        }
    }
}

#brands {
    background: $bgGray;

    .container {
        max-width: 1300px;
        overflow: hidden !important;

        h1 {
            text-align: center;
            margin-bottom: 2rem;
            font-size: 36px;
            font-weight: 400;
        }

        .slider {
            button {
                display: none !important;
            }

            img {
                height: 90px;
                // color: $white;
                margin: 0 1.5rem;
            }
        }
    }
}


#request-quote {
    h1 {
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    p {
        font-size: 18px;
        line-height: 1.7;
        letter-spacing: .5px;
        margin-bottom: 1rem;
    }

    input {
        margin-bottom: 2rem;
    }

    textarea {
        height: 150px;
        margin-bottom: 2rem;
    }

    .dark-btn {
        margin: 0 auto;
        display: table;
    }
}