$white: #fff;
$black: #000;
$darkText: #1b1b1b;
$lightText: #e6eff5;
$bgGray: #eaeff5;
$bgBlack: #2e2f31;
$textGray: #6F6F87;
$gray: #9f9f9f;
$blue: #a9cadb;
$blue2:#b0cddf;
$blue3: #cde0ea;
$darkBlue: #83a7c8;
